<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="myUserLabel">Tạo hoặc sửa tài khoản</h2>

      <jhi-alert-error></jhi-alert-error>

      <div class="mb-3" [hidden]="!editForm.value.id">
        <label>ID</label>
        <input type="text" class="form-control" name="id" formControlName="id" readonly />
      </div>

      <div class="mb-3">
        <label class="form-label">Tên đăng nhập</label>
        <input type="text" class="form-control" name="login" formControlName="login" />

        <div *ngIf="editForm.get('login')!.invalid && (editForm.get('login')!.dirty || editForm.get('login')!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get('login')?.errors?.required"> Trường này bắt buộc phải nhập. </small>

          <small class="form-text text-danger" *ngIf="editForm.get('login')?.errors?.maxlength">
            Trường này không được vượt quá 50 ký tự.
          </small>

          <small class="form-text text-danger" *ngIf="editForm.get('login')?.errors?.pattern">
            This field can only contain letters, digits and e-mail addresses.
          </small>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Tên</label>
        <input type="text" class="form-control" name="firstName" formControlName="firstName" />

        <div *ngIf="editForm.get('firstName')!.invalid && (editForm.get('firstName')!.dirty || editForm.get('firstName')!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get('firstName')?.errors?.maxlength">
            Trường này không được vượt quá 50 ký tự.
          </small>
        </div>
      </div>

      <div class="mb-3">
        <label>Họ</label>
        <input type="text" class="form-control" name="lastName" formControlName="lastName" />

        <div *ngIf="editForm.get('lastName')!.invalid && (editForm.get('lastName')!.dirty || editForm.get('lastName')!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get('lastName')?.errors?.maxlength">
            Trường này không được vượt quá 50 ký tự.
          </small>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" name="email" formControlName="email" />

        <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get('email')?.errors?.required"> Trường này bắt buộc phải nhập. </small>

          <small class="form-text text-danger" *ngIf="editForm.get('email')?.errors?.maxlength">
            Trường này không được vượt quá 100 ký tự.
          </small>

          <small class="form-text text-danger" *ngIf="editForm.get('email')?.errors?.minlength">
            Trường này phải có ít nhất 5 ký tự.
          </small>

          <small class="form-text text-danger" *ngIf="editForm.get('email')?.errors?.email"> Email bạn nhập không hợp lệ. </small>
        </div>
      </div>

      <div class="form-check">
        <label class="form-check-label" for="activated">
          <input
            class="form-check-input"
            [attr.disabled]="editForm.value.id === undefined ? 'disabled' : null"
            type="checkbox"
            id="activated"
            name="activated"
            formControlName="activated"
          />
          <span>Kích hoạt</span>
        </label>
      </div>

      <div class="mb-3">
        <label>Các quyền</label>
        <select class="form-control" multiple name="authority" formControlName="authorities">
          <option *ngFor="let authority of authorities" [value]="authority">{{ authority }}</option>
        </select>
      </div>
      <button type="button" class="btn btn-secondary" (click)="previousState()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span>Hủy</span>
      </button>

      <button type="submit" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
        <fa-icon icon="save"></fa-icon>&nbsp;<span>Lưu</span>
      </button>
    </form>
  </div>
</div>
