<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-4">
      <h1>Đặt lại mật khẩu</h1>

      <div class="alert alert-danger" *ngIf="initialized && !key">Không tìm thấy khóa để đặt lại mật khẩu.</div>

      <div class="alert alert-warning" *ngIf="key && !success">
        <span>Chọn mật khẩu mới</span>
      </div>

      <div class="alert alert-danger" *ngIf="error">
        <span>Không thể đặt lại mật khẩu của bạn. Lưu ý, yêu cầu đặt lại mật khẩu chỉ có hiệu lực trong 24 giờ.</span>
      </div>

      <div class="alert alert-success" *ngIf="success">
        <span><strong>Mật khẩu của bạn đã được đặt lại.</strong> Bạn vui lòng </span>
        <a class="alert-link" routerLink="/login">đăng nhập</a>.
      </div>

      <div class="alert alert-danger" *ngIf="doNotMatch">Xác nhận mật khẩu không khớp!</div>

      <div *ngIf="key && !success">
        <form name="form" role="form" (ngSubmit)="finishReset()" [formGroup]="passwordForm">
          <div class="mb-3">
            <label class="form-label" for="newPassword">Mật khẩu mới</label>
            <input
              type="password"
              class="form-control"
              id="newPassword"
              name="newPassword"
              placeholder="Nhập mật khẩu mới"
              formControlName="newPassword"
              data-cy="resetPassword"
              #newPassword
            />

            <div
              *ngIf="
                passwordForm.get('newPassword')!.invalid &&
                (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)
              "
            >
              <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.required">
                Bạn phải nhập mật khẩu.
              </small>

              <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.minlength">
                Mật khẩu phải có ít nhất 4 ký tự.
              </small>

              <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.maxlength">
                Mật khẩu không được vượt quá 50 ký tự.
              </small>
            </div>

            <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></jhi-password-strength-bar>
          </div>

          <div class="mb-3">
            <label class="form-label" for="confirmPassword">Xác nhận mật khẩu mới</label>
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              name="confirmPassword"
              placeholder="Nhập lại mật khẩu mới"
              formControlName="confirmPassword"
              data-cy="confirmResetPassword"
            />

            <div
              *ngIf="
                passwordForm.get('confirmPassword')!.invalid &&
                (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)
              "
            >
              <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.required">
                Bạn phải nhập lại mật khẩu để xác nhận.
              </small>

              <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength">
                Mật khẩu phải có ít nhất 4 ký tự.
              </small>

              <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength">
                Mật khẩu không được vượt quá 50 ký tự.
              </small>
            </div>
          </div>

          <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary" data-cy="submit">Kiểm tra mật khẩu mới</button>
        </form>
      </div>
    </div>
  </div>
</div>
