<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="category">
      <h2 data-cy="categoryDetailsHeading"><span>Category</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ category.id }}</span>
        </dd>
        <dt><span>Category Id</span></dt>
        <dd>
          <span>{{ category.categoryId }}</span>
        </dd>
        <dt><span>Category Name</span></dt>
        <dd>
          <span>{{ category.categoryName }}</span>
        </dd>
        <dt><span>Retailer Id</span></dt>
        <dd>
          <span>{{ category.retailerId }}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
          <span>{{ category.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Parent Id</span></dt>
        <dd>
          <span>{{ category.parentId }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Quay lại</span>
      </button>

      <button type="button" [routerLink]="['/category', category.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Sửa</span>
      </button>
    </div>
  </div>
</div>
