<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="productAttribute">
      <h2 data-cy="productAttributeDetailsHeading"><span>Product Attribute</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ productAttribute.id }}</span>
        </dd>
        <dt><span>Product Id</span></dt>
        <dd>
          <span>{{ productAttribute.productId }}</span>
        </dd>
        <dt><span>Attribute Name</span></dt>
        <dd>
          <span>{{ productAttribute.attributeName }}</span>
        </dd>
        <dt><span>Attribute Value</span></dt>
        <dd>
          <span>{{ productAttribute.attributeValue }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Quay lại</span>
      </button>

      <button type="button" [routerLink]="['/product-attribute', productAttribute.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Sửa</span>
      </button>
    </div>
  </div>
</div>
