<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <h1>Kích hoạt</h1>

      <div class="alert alert-success" *ngIf="success">
        <span><strong>Tài khoản của bạn đã được kích hoạt.</strong> Bạn vui lòng </span>
        <a class="alert-link" routerLink="/login">đăng nhập</a>.
      </div>

      <div class="alert alert-danger" *ngIf="error">
        <strong>Không thể kích hoạt tài khoản của bạn.</strong> Vui lòng quay lại trang đăng ký để tạo tài khoản.
      </div>
    </div>
  </div>
</div>
