<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <h1>Đặt lại mật khẩu của bạn</h1>

      <jhi-alert-error></jhi-alert-error>

      <div class="alert alert-warning" *ngIf="!success">
        <span>Nhập địa chỉ email mà bạn đã sử dụng để đăng ký</span>
      </div>

      <div class="alert alert-success" *ngIf="success">
        <span>Vui lòng kiểm tra hòm thư của bạn để xem chi tiết cách lấy lại mật khẩu.</span>
      </div>

      <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
        <div class="mb-3">
          <label class="form-label" for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Nhập email của bạn"
            formControlName="email"
            data-cy="emailResetPassword"
            #email
          />

          <div
            *ngIf="
              resetRequestForm.get('email')!.invalid && (resetRequestForm.get('email')!.dirty || resetRequestForm.get('email')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="resetRequestForm.get('email')?.errors?.required"> Bạn phải nhập email. </small>

            <small class="form-text text-danger" *ngIf="resetRequestForm.get('email')?.errors?.email"> Email bạn nhập không hợp lệ. </small>

            <small class="form-text text-danger" *ngIf="resetRequestForm.get('email')?.errors?.minlength">
              Email phải có ít nhất 5 ký tự.
            </small>

            <small class="form-text text-danger" *ngIf="resetRequestForm.get('email')?.errors?.maxlength">
              Email không được vượt quá 50 ký tự.
            </small>
          </div>
        </div>

        <button type="submit" [disabled]="resetRequestForm.invalid" class="btn btn-primary" data-cy="submit">Đặt lại mật khẩu</button>
      </form>
    </div>
  </div>
</div>
